# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/out
/Project/src/out
/Project/out
# Ignore Gradle project-specific cache directory
build.gradle/.gradle

# Ignore Gradle build output directory
build.gradle/build

# Ignore Kotlin plugin data
build.gradle/.kotlin
